%h2
  = link_to '删除全部文件',
            '/api/fileops/delete_all',
            :method => :delete

= file_field_tag :file,
                 :multiple => true,
                 :class    => 'file-upload',
                 :data     => {:path => @media_resource ? @media_resource.path : '/'}

= button_tag '上传文件',
             :class => 'file-submit'

= text_field_tag :folder, nil,
                 :class => 'create-folder',
                 :data  => {:path => @media_resource ? @media_resource.path : '/'}

= button_tag '创建文件夹',
             :class => 'folder-submit'

%table
  %thead
    %tr
      %th 文件名
  %tbody
    - resources.each do |resource|
      %tr
        %td{:style => "background-color:#{resource.is_dir ? 'orange' : 'green'};"}
          = link_to resource.name, resource.web_path