.page-media-resource-head
  =render 'media_resources/parts/search_bar'

:ruby
  resources = @media_resources

.page-media-resource-nav
  .go-parent-dir
    %span= link_to '回我的根目录', '/file'
  .detail
    %span 找到 
    %span.n #{resources.total_count} 
    %span 项，耗时
    %span.t #{resources.query_time}
    %span 秒

.page-media-resource-search-result-list
  - if resources.blank?
    .media-resource-blank.quiet
      没有搜到资源，尝试换个搜索词吧

  - resources.each do |resource|
    :ruby
      klass = resource.is_dir? ? 'dir' : 'file'
      url = File.join('/file', resource.path)
      time = resource.fileops_time.localtime
      name = resource.excerpts.name.html_safe

    .media-resource{:class => klass}
      = link_to name, url, :class=>'link'

      .time.quiet=time
      .size.quiet=media_resource_size_str(resource)
      .path.quiet 位置: #{resource.path}
