- content_for :javascript do
  :javascript

    jQuery(document).ready(function() {
      jQuery('form.upload-file input[type=file]').change(function() {
        var form_elm = jQuery(this).closest('form');

        var value = jQuery(this).val().replace(/\\/g, '/');
        var arr = value.split('/');
        var filename = arr[arr.length - 1];

        var current_path = form_elm.find('input[name=current_path]').val();
        var resource_path = current_path + '/' + filename;
        resource_path = resource_path.replace(/\/\//, '/')

        form_elm.attr('action', '/file_put/' + resource_path);
        console.log('/api/file_put' + resource_path)
      });
    });


.warning{:style=>'color:red;font-weight:bold;font-size:48px;'}
  这是原型工程，不要传大文件，传不了，很吃内存

.page-media-resources-forms

  = form_tag '/', :method => 'put', :multipart => true, :class => 'upload-file' do
    = hidden_field_tag :current_path, @current_dir.blank? ? '/' : @current_dir.path
    = file_field_tag :file
    = submit_tag '上传文件'
    
  = form_tag '/file/create_folder', :method => 'post', :class => 'create-folder' do
    = hidden_field_tag :current_path, @current_dir.blank? ? '/' : @current_dir.path
    = text_field_tag :folder

    = submit_tag '创建文件夹'

  = flash[:error]

  .received-shares=link_to '我收到的共享', '/file_my_share'
  .logout=link_to '退出','/logout'

.page-media-resources-nav
  .go-parent-dir
    - if @current_dir.blank?
      %span.quiet 上一级
    - else
      :ruby
        url = @current_dir.dir.blank? ? '/file' : File.join('/file', @current_dir.dir.path)
      %a{:href => url} 上一级

  .navs
    %span= link_to '根目录', '/file'
    - media_resource_navs_dirs(@current_dir).each do |dir|
      %span= link_to dir.name, File.join('/file', dir.path)

