= render 'media_shares/parts/file_menu'

.page-media-resource-list
  - unless @media_resources.any?
    .media-resource-blank.quiet
      该目录下没有资源

  - else

    - @media_resources.each do |resource|
      :ruby
        klass = resource.is_dir? ? 'dir' : 'file'
        url = "/media_shares/user/#{resource.creator.id}/file#{resource.path}"

      .media-resource{:class => klass}
        = link_to resource.name, url, :class=>'link'

        %span= link_to "#{resource.creator.name}", "/users/#{resource.creator.id}"

        %span= shared_time(current_user, resource)
        

