-# MINDPIN 工程原型Layout

:ruby
  tstr = ((yield :title) || '').gsub("\n",'')
  title = tstr.blank? ? 'MINDPIN - 开发原型工程' : "#{tstr} - MINDPIN - 开发原型工程"

!!! 5
%html{:lang=>'zh'}
  %head
    %meta{:charset=>'utf-8'}
    %title=title
    = csrf_meta_tags
    = stylesheet_link_tag 'application'
    = yield :css
    = yield :head

  %body.echo.gray
    .page-wrap
      .page-container
        .page-header
          .title=title
        .page-sidebar
          -if logged_in?
            %a.file{:href=>'/file', :class=>request.path.starts_with?('/file') ? 'current' : ''} 我的个人文件夹
            %a.share{:href=>'/media_shares/my', :class=>request.path.starts_with?('/media_shares') ? 'current' : ''} 我收到的共享
            %a.logout{:href=>'/logout'} 退出登录
        .page-content
          = yield

    = javascript_include_tag 'application'
    = yield :javascript